.home-header {
    margin: 4% 0;
    background-image: linear-gradient(to bottom right, #191970 , #a27df5);
}

.img-header {
    width: 90%;
    margin: -30px 0 -30px 0;
}

#home-slogan {
    margin: 10% 5% 10% 0;
}

.img-home {
    width: 100%;
    margin-left: -20px;
    padding: 0;
}

.arguments {
    margin: 8% 0;
}

.number {
    font-weight: 700;
    font-size: 1.8em;
}

.diagonal {
    clip-path: polygon(0 15%, 100% 0%, 100% 85%, 0% 100%);
}

.main > div {
    cursor: pointer;
    position: absolute;
    width: 50%;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: 800;
    left: 25%;
    top: 25px;
    border-radius: 15px;
    box-shadow: 5px 5px 5px lightgrey;
  }

.slider {
    position: relative;
    height: 550px;
}

input[type=text] {
    border: none;
    padding: 10px;
    width: 85%;
    font-family: 'Muli', 'Trebuchet MS', 'Lucida Sans', Arial, sans-serif;
    color: black;
    font-size: 1.1em;
}

.custom-select select {
    border: none;
    padding: 20px;
    width: 85%;
    font-family: 'Muli', 'Trebuchet MS', 'Lucida Sans', Arial, sans-serif;
    color: black;
    font-size: 1.1em;
}