.home-header {
    margin: 4% 0;
    background-image: linear-gradient(to bottom right, #191970 , #a27df5);
}

.img-header {
    width: 90%;
    margin: -30px 0 -30px 0;
}

#home-slogan {
    margin: 10% 5% 10% 0;
}

.img-home {
    width: 100%;
    margin-left: -20px;
    padding: 0;
}

.arguments {
    margin: 8% 0;
}

.number {
    font-weight: 700;
    font-size: 1.8em;
}

.diagonal {
    clip-path: polygon(0 15%, 100% 0%, 100% 85%, 0% 100%);
}

.main > div {
    cursor: pointer;
    position: absolute;
    width: 50%;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: 800;
    left: 25%;
    top: 25px;
    border-radius: 15px;
    box-shadow: 5px 5px 5px lightgrey;
  }

.slider {
    position: relative;
    height: 550px;
}

input[type=text] {
    border: none;
    padding: 10px;
    width: 85%;
    font-family: 'Muli', 'Trebuchet MS', 'Lucida Sans', Arial, sans-serif;
    color: black;
    font-size: 1.1em;
}

  .select-css {
    display: block;
    font-size: 1em;
    font-family: 'Muli', 'Trebuchet MS', 'Lucida Sans', Arial, sans-serif;
    color: #444;
    line-height: 1;
    padding: 10px;
    width: 85%;
    box-sizing: border-box;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background-color: #fff;
    background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E'),
      linear-gradient(to bottom, #ffffff 0%,#e5e5e5 100%);
    background-repeat: no-repeat, repeat;
    background-position: right .7em top 50%, 0 0;
    background-size: .65em auto, 100%;
}
.select-css::-ms-expand {
    font-family: 'Muli', 'Trebuchet MS', 'Lucida Sans', Arial, sans-serif;
    margin: 10px;
    display: none;
}
.select-css:hover {
    border-color: #888;
}
.select-css:focus {
    color: #222; 
    outline: none;
}
.select-css option {
    font-family: 'Muli', 'Trebuchet MS', 'Lucida Sans', Arial, sans-serif;
}
